.tileListItem {
    position: relative;
    display: inline;
    box-sizing: border-box;
    grid-column-end: span 2;
    outline: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 100%;
    padding-bottom: 86.602%;
    pointer-events: none;
}

.tileListItem * {
    margin: 0;
    padding: 0;
}

.tileListItem:nth-child(25n+1) {
    grid-column-start: 1;
}

.tileListItem:nth-child(25n+14) {
    grid-column-start: 2;
}

.tileContainer, .tileContainer * {
    position: absolute;
    pointer-events: all;
}

.tileContainer {
    overflow: hidden;
    visibility: visible;
    background-color: var(--border-color);
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 100%, 0 100%, 0 50%);
    width: 100%;
    padding-bottom: 115.47%;
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.tileContainer:has(.tileButton:hover) {
    background-color: transparent;
}

.tileBorder {
    overflow: hidden;
    margin: 5%;
    width: 90%;
    height: 90%;
}

.tile {
    display: block;
    overflow: hidden;
    visibility: visible;
    width: 100%;
    height: 100%;
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.tileButton {
    border-width: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1vw;
}

.tileButton:disabled {
    pointer-events: none;
}

.tileButton:hover:enabled {
    cursor: pointer;
    filter: brightness(0.7);
}